header {
    background-color: transparent;
    margin-top: 20px;
}

nav ul {
    display: none;
}

.checkout-button {
    visibility: hidden;
}

.main-content {
    border-radius: 5px;
}

.main-content div {
    text-align: center;
    margin: 30px auto 0px;
}

.check-mark_icon {
    width: 60px;
    height: auto;
}

.checkout-success_text {
    text-align: center;
}