.contact {
    text-align: center;
    margin: 20px 5%;
    border-radius: 5px;
}

h1 {
    margin-bottom: 40px;
}

textarea {
    height: 45%;
}

.cta-send {
    border: 0px;
    background: #FF6254;
    line-height: 19px;
    font-weight: 600;
    margin: 20px auto;
}

.cta-send:hover {
    cursor: pointer;
    background-color: #941f15;
}

.contact-us-success {
    display: none;
    margin-top: 20px;
}