@media (min-width: 395px) {
    input, 
    textarea {
    max-width: none;
    }
}

@media (min-width: 450px) {
    .similar-items_image {
        width: 140px;
        height: 180px;
        object-fit: cover;
        margin: 5px auto;
    }

    .checkout_image {
        width: 30%;
    }

    .form-wrapper {
        margin: 20px 10%;
    }

    .billing-form {
        max-width: 90%;
    }
}

@media (min-width: 650px) {
    body {
        background-image: url(../assets/background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        min-width: none;
    }

    .logo img {
        width: 220px;
    }
    
    .cart-icon {
        width: 40px;
        height: auto;
    }

    .back_button,
    .add-to-cart_button:hover {
        cursor: pointer;
    }
    
    .checkout-button span{
        display: block;
        color: #113340;
        font-size: 1em;
    }

    .checkout-button a:hover {
        text-decoration: underline;
        text-underline-offset: 5px;
        color: #113340;
    }

    .nav-cta {
        width: 120px;
    }

    nav a:hover {
        background-color: var(--color-nav-hover);
        color: var(--color-nav-a-hover);
        transition: 0.4s ease;
    }

    .main-content,
    .main-headings {
        max-width: 1000px;
        margin: 0 auto;
        border-radius: 0;
    }

    .billing-form {
        max-width: 70%;
    }

    /* Home page media querys */
    header {
        background-color: #FFDD15;
        margin-top: 0;
    }

    .header-items_top {
        display: flex;
        align-items: center;
        padding: 22px 0px;
    }
    
    .header-items_top div {
        flex: 1;
        text-align: center;
    }

    .home_page {
        background-image: url(../assets/background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        min-width: none;
    }
    
    nav ul {
        display: block;
    }

    .checkout-button {
        visibility: visible;
    }

    .container-gender-selection-small {
        max-width: 300px;
        display: flex;
        flex-direction: row;
        margin: 50px auto 30px;
    }
    
    .container-gender-selection-small > * {
        flex: 1;
        text-align: center;
    }
    
    .container-gender-selection-small span {
        display: block;
        color: #113340;
        font-style: bold;
    }
    
    .small-gender_images {
        width: 130px;
        height: 100px;
        border-radius: 20px;
        transition: transform 2s;
    }

    .cta-sale,
    .cta-show_item:hover {
        transform: scale(1.05);
    }

    .small-gender_images:hover {
        transform: scale(1.1);
    }

    .introduction-home {
        margin-top: 0px;
    }

    .home-page_buttons {
        text-align: center;
        margin: 80px auto;
    }

    .checkout-now_button:hover {
        background-color: #941f15;
        transform: scale(1.01);
        cursor: pointer;
    }

    .checkout-nav:hover {
        background-color: #1C5166;
    }

    .purchase_button:hover,
    .checkout-nav:hover {
        cursor: pointer;
        transform: scale(1.01);
    }

    .continue-shopping_button:hover,
    .cta-browse:hover,
    .cta-about:hover,
    .cta-contact:hover {
        transform: scale(1.1);
    }

    .cta-about:hover,
    .cta-contact:hover {
        transform: scale(1.1);
    }

    select {
        cursor: pointer;
    }

    /* Gender selection page media querys */
    .gender-selection-main {
        max-width: 1000px;
        margin: 0px auto;
        display: flex;
    }

    .gender-selection {
        flex: 1;
        overflow: hidden;
    }

    .gender-selection-images {
        height: 100%;
        transition: transform 2s;
    }

    .gender-selection h1:hover {
        text-decoration: underline;
        text-underline-offset: 5px;
    }

    .gender-selection-link a {
        margin: 0;
    }

    .gender-selection-link h1 {
        background-color: #D6DBDC;
        font-weight: 600;
        font-size: 2em;
        color: #113340;
        position: absolute;
        top: 60px;
        left: 0px;
        margin: 0;
        width: 100px;
    }

    #women_h1 {
        padding: 20px 80px 20px 40px;
        
    }

    #men_h1 {
        padding: 20px 40px 20px 40px;
    }

    .gender-selection-images:hover {
        transform: scale(1.2);
    }

    /* Jacket pages media querys */
    .buy-now_button:hover {
        background-color: #941f15;
    }

    .add-to-cart_button:hover {
        background-color: #FFEA03;
    }

    .jackets-listed_image {
        width: 100%;
        height: 260px;
    }

    .product-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 3%;
    }

    .products h3, .products p {
        margin: 5px 0px 0px;
    }

    /* About page media querys */
    .main-content {
        max-width: 1000px;
        margin: 0px auto;
    }

    .about_h2 {
        text-align: left;
        margin: 0px 100px 5px;
    }

    .about_text {
        max-width: 500px;
        margin: 5px 100px 30px;
    }

    /* Contact page */
    .contact {
        width: 700px;
    }

    .forms-container {
        margin: 20px 100px;
    }

    /* Checkout pages media querys */
    .checkout_items,
    #shipping-info {
        margin: 50px 70px 0px;
    }

    #shipping-info {
        text-align: left;
        margin-bottom: 50px;
    }

    .checkout_h1 {
        margin: 50px auto 0px;
    }
    
    .checkout-success_h1 {
        margin: 50px auto 45px;
    }
}

@media (min-width: 800px) {
    .product-list {
        grid-template-columns: repeat(4, 1fr);
    }

    .product-list h1 h2{
        grid-row: 1;
    }
}

@media (min-width: 900px) {
    /* Jacket specific page media querys */
    .jacket-specific-container {
        flex-direction: row;
        padding-top: 30px;
        padding-bottom: 90px;
    }

    .add-to-cart_button {
        position: absolute;
        transform: translateX(40px);
    }

    .buy-now_button {
        position: absolute;
        transform: translate(180px, 10px);

    }

    .similar-items-container {
        grid-template-columns: repeat(5, 1fr);
    }

    .jacket-specific {
        margin: 0;
    }

    .jacket-specific p,
    .jacket-specific h2 {
        max-width: 300px;
        text-align: left;
        margin-left: 50px;
    }
}