body {
    font-family: Tahoma, Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: normal;
    color: #113340;
    min-height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

h1 {
    font-family: Arial, Helvetica, Tahoma, sans-serif;
    font-size: 1.5em;
    font-style: bold;
    text-align: center;
    text-decoration: none;
    color: #113340;
    letter-spacing: 2px;
}

a {
    font-family: Arial, Helvetica, Tahoma, sans-serif;
    font-size: 1.2em;
    font-style: normal;
    text-decoration: none;
    color: #FCFEFC;
}

header {
    background-color: #FFDD15;
}

.header-items_top {
    display: flex;
    align-items: center;
    padding: 22px 0px;
}

.header-items_top div {
    flex: 1;
    text-align: center;
}

.logo img {
    width: 250px;
}

.back_button {
    visibility: hidden;
}

.checkout-button {
    padding-top: 20px;
    transform: translateX(-50px);
}

.checkout-button span{
    display: block;
    color: #113340;
}

nav {
    background-color: #113340;
    text-align: center;
}

nav li {
    display: inline;
}

nav a:hover {
    background-color: #FFDD15;
    color: #113340;
}

nav ul {
    margin: 0px;
    padding: 0px;
}

.active {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.cta {  
    background-color: #113340;
    color: #FCFEFC;
    display: block;
    width: 150px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 1.2em;
    border-radius: 5px;
    margin: auto;
}

.nav-cta {  
    display: inline-block;
    width: 120px;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
}

footer {
    background-color: #113340;
    text-align: center;
    margin: 0px auto;
    width: 100%;
}

footer p {
    color: #FCFEFC;
}

/* Home page */
.home_page {
    background-image: url(../assets/background-home_page.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: none;
}

.gender-selection-small {
    max-width: 300px;
    display: flex;
    flex-direction: row;
    margin: 50px auto;
}

.gender-selection-small > * {
    flex: 1;
    text-align: center;
}

.gender-selection-small span {
    display: block;
    color: #113340;
    font-style: bold;
}

.small-gender_images {
    width: 50%;
}

.introduction-home {
    text-align: center;
    text-justify: inter-word;
    margin: 80px auto 0px;
    font-size: 1.5em;
}

#content1::after {
    content: "\a";
    white-space: pre;
}

.home-page_buttons {
    text-align: center;
    margin: 120px auto;
}

.browse {
    margin-bottom: 80px;
}

.home-about_button {
    text-align: center;
    margin-bottom: 10px;
}

.cta-browse {
    background-color: #FFDD15;
    color: #113340;
    font-size: 1.5em;
    padding: 3px 40px;
    border-radius: 5px;
}

.cta-browse a:hover {
    background-color: #113340;
    color: #FCFEFC;
}

@media screen and (max-width: 650px) {
    nav,
    .gender-selection-small {
        display: none;
    }

    .checkout-button {
        visibility: hidden;
    }
    
    .home_page {
        background-image: none;
    }
    
    body {
        background-image: url(../assets/background-mobile-home_page.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }

    header {
        background: none;
    }

    .header-items_top {
        margin: 75px auto 50px;
    }

    .logo img {
        width: 220px;
        height: auto;
    }

    .introduction-home {
        margin: 0px auto;
    }

    .browse {
        margin-bottom: 40px;
    }
}