:root {
    --text-paragraph: "Tahoma";
    --text-heading: "Arial";
    --color-header-background: #FFDD15;
    --color-nav-footer: #113340;
    --color-nav-hover: #FFDD15;
    --color-nav-a-hover: #113340;
}